       {% load static %}
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
          All Rights Reserved by Akaine Consulting. Designed and Developed by
          <a href="#"> Akaine Consulting</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static '/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static '/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static '/assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static '/dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static '/dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static '/dist/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <!-- <script src="../dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="{% static '/assets/libs/flot/excanvas.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static '/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static '/dist/js/pages/chart/chart-page-init.js' %}"></script>
        <!-- this Table page js -->
    <script src="{% static '/assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static '/assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
    <script src="{% static '/assets/extra-libs/DataTables/datatables.min.js' %}"></script>
        <!-- this chart page js -->
    <script src="{% static '/assets/libs/chart/matrix.interface.js' %}"></script>
    <script src="{% static '/assets/libs/chart/excanvas.min.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static '/assets/libs/chart/jquery.peity.min.js' %}"></script>
    <script src="{% static '/assets/libs/chart/matrix.charts.js' %}"></script>
    <script src="{% static '/assets/libs/chart/jquery.flot.pie.min.js' %}"></script>
    <script src="{% static '/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static '/assets/libs/chart/turning-series.js' %}"></script>
    <script src="{% static '/dist/js/pages/chart/chart-page-init.js' %}"></script>
   <script>
      /****************************************
       *       Basic Table                   *
       ****************************************/
      $("#zero_config").DataTable();
    </script>
  </body>
</html>