{% include 'base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
<!-- Sales chart -->
<!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Sales Cards  -->
          <!-- ============================================================== -->
          <div class="row">
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-cyan text-center">
                  {% for d in kip_count %}
                    {% if d.hazard == 'Flashflood' %}
                  <h1 class="font-light text-white">
<!--                    <i class="mdi mdi-view-dashboard"></i>-->

                    {{d.kcount}}

                  </h1>
                  <h6 class="text-white">{{d.hazard}}</h6>
                  {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-success text-center">
                   {% for d in kip_count %}
                    {% if d.hazard == 'Windstorm' %}
                  <h1 class="font-light text-white">
<!--                    <i class="mdi mdi-view-dashboard"></i>-->

                    {{d.kcount}}

                  </h1>
                  <h6 class="text-white">{{d.hazard}}</h6>
                  {% endif %}
                    {% endfor %}
              </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-warning text-center">
                   {% for d in kip_count %}
                    {% if d.hazard == 'Domestic Fire' %}
                  <h1 class="font-light text-white">
<!--                    <i class="mdi mdi-view-dashboard"></i>-->

                    {{d.kcount}}

                  </h1>
                  <h6 class="text-white">{{d.hazard}}</h6>
                  {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                    {% for d in kip_count %}
                    {% if d.hazard == 'Riverine Flood' %}
                  <h1 class="font-light text-white">
<!--                    <i class="mdi mdi-view-dashboard"></i>-->

                    {{d.kcount}}

                  </h1>
                  <h6 class="text-white">{{d.hazard}}</h6>
                  {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-info text-center">
                   {% for d in kip_count %}
                    {% if d.hazard == 'Bush Fire' %}
                  <h1 class="font-light text-white">
<!--                    <i class="mdi mdi-view-dashboard"></i>-->

                    {{d.kcount}}

                  </h1>
                  <h6 class="text-white">{{d.hazard}}</h6>
                  {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                    {% for d in kip_count %}
                    {% if d.hazard == 'Disease Outbreak' %}
                  <h1 class="font-light text-white">
<!--                    <i class="mdi mdi-view-dashboard"></i>-->

                    {{d.kcount}}

                  </h1>
                  <h6 class="text-white">{{d.hazard}}</h6>
                  {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-info text-center">
                    {% for d in kip_count %}
                    {% if d.hazard == 'Oil Spill' %}
                  <h1 class="font-light text-white">
<!--                    <i class="mdi mdi-view-dashboard"></i>-->

                    {{d.kcount}}

                  </h1>
                  <h6 class="text-white">{{d.hazard}}</h6>
                  {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-cyan text-center">
                    {% for d in kip_count %}
                    {% if d.hazard == 'Other' %}
                  <h1 class="font-light text-white">
<!--                    <i class="mdi mdi-view-dashboard"></i>-->

                    {{d.kcount}}

                  </h1>
                  <h6 class="text-white">{{d.hazard}}</h6>
                  {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
<!--            &lt;!&ndash; Column &ndash;&gt;-->
<!--            <div class="col-md-6 col-lg-2 col-xlg-3">-->
<!--              <div class="card card-hover">-->
<!--                <div class="box bg-success text-center">-->
<!--                  <h1 class="font-light text-white">-->
<!--                    <i class="mdi mdi-calendar-check"></i>-->
<!--                  </h1>-->
<!--                  <h6 class="text-white">Calnedar</h6>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Column &ndash;&gt;-->
<!--            <div class="col-md-6 col-lg-2 col-xlg-3">-->
<!--              <div class="card card-hover">-->
<!--                <div class="box bg-warning text-center">-->
<!--                  <h1 class="font-light text-white">-->
<!--                    <i class="mdi mdi-alert"></i>-->
<!--                  </h1>-->
<!--                  <h6 class="text-white">Errors</h6>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
            <!-- Column -->
          </div>

          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="d-md-flex align-items-center">
                    <div>
                      <h4 class="card-title">Hazard Analysis</h4>
                      <h5 class="card-subtitle">Overview all the hazard</h5>
                    </div>
                  </div>
                  <div class="row">
                    <!-- column -->
                    <div class="col-lg-9">
                      <div class="flot-chart">
                         <canvas id="myPieChart"></canvas>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="row">
                        <div class="col-6">
                          <div class="bg-dark p-10 text-white text-center">
                            <i class="mdi mdi-account-multiple fs-3 mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{dash.count}}</h5>
                            <small class="font-light">Total Recorded</small>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="bg-dark p-10 text-white text-center">
                            <i class="mdi mdi-map-marker fs-3 font-16"></i>
                            <h5 class="mb-0 mt-1">{{district.count}}
                            </h5>
                            <small class="font-light">District</small>
                          </div>
                        </div>
                        <div class="col-6 mt-3">
                          <div class="bg-dark p-10 text-white text-center">
                            <i class="mdi mdi-gender-female fs-3 mb-1 font-16"></i>

                            <h5 class="mb-0 mt-1">{{female.count }}</h5>

                            <small class="font-light">Female</small>
                          </div>
                        </div>
                        <div class="col-6 mt-3">
                          <div class="bg-dark p-10 text-white text-center">
                            <i class="mdi mdi-gender-male fs-3 mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{male.count }}</h5>
                            <small class="font-light">Male</small>
                          </div>
                        </div>
                        <div class="col-6 mt-3">
                          <div class="bg-dark p-10 text-white text-center">
                            <i class="mdi mdi-key-variant fs-3 mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{kpi.count}}</h5>
                            <small class="font-light">KPIs</small>
                          </div>
                        </div>
                        <div class="col-6 mt-3">
                          <div class="bg-dark p-10 text-white text-center">
                            <i class="mdi mdi-web fs-3 mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{region.count}}</h5>
                            <small class="font-light">Regions</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- column -->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->

<!-- ============================================================== -->

{% include 'footer.html' %}
<script>
<!--// Pie Chart Example-->
var ctx = document.getElementById("myPieChart");
var default_colors = ['#3366CC','#DC3912','#FF9900','#109618',
'#990099','#3B3EAC','#0099C6','#DD4477','#66AA00','#B82E2E',
'#316395','#994499','#22AA99','#AAAA11','#6633CC','#E67300',
'#8B0707','#329262','#5574A6','#3B3EAC']
var myPieChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: [{% for kc in kip_count %} '{{kc.hazard}}', {% endfor %}],
    datasets: [{
      data: [{% for kc in kip_count %} {{kc.kcount}}, {% endfor %}],
      backgroundColor: default_colors,
      hoverBackgroundColor: default_colors,
      hoverBorderColor: "rgba(234, 236, 244, 1,1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});


</script>
{% endblock %}
