{% include 'base.html' %}
{% load static %}
{% block content %}

 <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Key Performant Indicator</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Kpi
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
<div class="container-fluid">
<div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
<div class="col-md-12 ">
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">#

      </th>
      <th class="th-sm">Year

      </th>
      <th class="th-sm">Region

      </th>
      <th class="th-sm">District

      </th>
      <th class="th-sm">Hazard

      </th>
      <th class="th-sm">Affected Settlements

      </th>
    </tr>
  </thead>
  <tbody>
  {% for kpi in kpi_table %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{kpi.year}}</td>
      <td>{{kpi.region}}</td>
      <td><strong>{{kpi.district}}</strong></td>
      <td>{{kpi.hazard}}</td>
      <td><a href="/kpi/kpi_settlement/{{kpi.max_id}}"class="btn btn-sm bg bg-danger p-2 text-white " data-bs-toggle="modal" data-bs-target="#exampleModal{{kpi.max_id}}"><strong>{{kpi.kpi_count}}</strong></a>
      <!-- Modal -->
<div class="modal fade" id="exampleModal{{kpi.max_id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{kpi.max_id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header float-right">
        <h5>{{kpi.hazard}} {{kpi.region}} {{kpi.year}}</h5>
        <div class="text-right">
          <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
        </div>
      </div>
      <div class="modal-body">



        <div>
  <table id="dtBasicExample1{{kpi.max_id}}" class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Settlement</th>
      <th scope="col">Total</th>
      <th scope="col">Date recorded</th>
    </tr>
  </thead>
  <tbody>
  {% for st in settle_list %}
  {% if st.year == kpi.year and st.district == kpi.district and st.hazard == kpi.hazard %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{st.settlement}}</td>
      <td>{{st.sett_count}}</td>
      <td>{{st.date_of_disaster}}</td>
    </tr>

  {% endif %}

  {% endfor %}

  </tbody>
</table>


        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary align-center" data-dismiss="modal">Totat {{kpi.kpi_count}}</button>
      </div>
    </div>
  </div>

      </td>

    </tr>
</div>


    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>#
      </th>
      <th>Year
      </th>
      <th>Region
      </th>
      <th>District
      </th>
      <th>Hazard
      </th>
      <th>Affected Settlements
      </th>
    </tr>
  </tfoot>
</table>
</div>
</div>
</div>


     {% include 'footer.html' %}
<script>
   $(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>

  <script>
   {% for p in kpi_table %}
   $(document).ready(function () {
  $('#dtBasicExample1{{p.max_id}}').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
{% endfor %}
</script>



{% endblock %}