{% include 'base.html' %}
{% load static %}
{% block content %}
 <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Key Performant Indicator</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Kpi
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
<div class="container-fluid">
<div class="col-md-12">
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">#

      </th>
      <th class="th-sm">Year

      </th>
      <th class="th-sm">Region

      </th>
      <th class="th-sm">District

      </th>
      <th class="th-sm">Hazard

      </th>
      <th class="th-sm">Number Affected

      </th>
    </tr>
  </thead>
  <tbody>
  {% for kpi in kpi_table %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{kpi.year}}</td>
      <td>{{kpi.region}}</td>
      <td>{{kpi.district}}</td>
      <td>{{kpi.hazard}}</td>
      <td>{{kpi.kpi_count}}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>#
      </th>
      <th>Year
      </th>
      <th>Region
      </th>
      <th>District
      </th>
      <th>Hazard
      </th>
      <th>Number Affected
      </th>
    </tr>
  </tfoot>
</table>

     {% include 'footer.html' %}
<script>
   $(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}